@font-face {
  font-family: 'IBM VGA';
  src: url('public/fonts/Web437_IBM_VGA_9x16.woff') format('woff');
  font-display: swap;
}

:root {
  --colors-primary: #9747ff;
  --colors-primary-dark: #7135bf;
  --colors-primary-light: #9747ff40;
  --colors-grey-100: #2a2a2a;
  --colors-grey-200: #7f7f7f;
  --colors-grey-300: #e4e4e4;
  --colors-grey-400: #eeeeee;
  --colors-error: #ff4e4e;
  --colors-disabled-bg: #00000033;
  --shadow-focused: 0 0 0 4px #9747ff40;
  --shadow-dialog: 0 4px 10px 2px #0000001a;
  --border-rounded: #7f7f7f 1px solid;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  font-size: 12px;
  font-weight: 400;
}

body {
  font-family: 'IBM VGA', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  line-height: 20px;
  color: var(--colors-grey-100);
}
